<div class="row">
    <div class="col-sm-6">
        <section class="mat-typography">
            <h1>{{ title }}</h1>
        </section>
    </div>
    <div class="col-sm-6 text-right">
        <div class="action-buttons">
            <button [routerLink]="['/admin/movie/edit', movie.id]" mat-raised-button color="primary">Edit</button>
            <button (click)="openFileWindow()" mat-raised-button color="primary">Upload Image</button>
            <button (click)="delete()" mat-raised-button color="warn">Delete</button>
        </div>
    </div>
</div>

<input type="file" #btn style="visibility: hidden;" (change)="uploadImage($event)"  /> 

<mat-card>
    <mat-card-content>
        <div class="row">
            <div class="col-sm-4">
                <ng-container *ngIf="movie.image">
                    <img [src]="movie.image" alt="..." class="img-thumbnail img-fluid rounded" />
                </ng-container>
            </div>
            <div class="col-sm-8">
                <mat-list>
                    <mat-list-item>Running Time: {{ movie.runtime }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>MTRCB Rating: {{ movie.grade }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Release Date: {{ movie.date | date: 'fullDate' }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Director: {{ movie.director }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <ng-container *ngIf="movie?.actors?.length > 0">
                        <!-- <mat-list-item>Actors:&nbsp;<span *ngFor="let actor of movie.actors; let i = index">{{ actor }}<span [hidden]="(movie.actors.length - 1) == i">,&nbsp;</span></span></mat-list-item> -->
                        <mat-list-item>Actors: {{ movie.actors | join }}</mat-list-item>
                        <mat-divider></mat-divider>
                    </ng-container>
                </mat-list>
            </div>
        </div>
    </mat-card-content>
</mat-card>