<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="control-display-block">
          <mat-select placeholder="Theater" [formControl]="form.controls['theater']">
            <mat-option *ngFor="let theater of theaters | sort:'name'" [value]="theater.id">{{ theater.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<p>&nbsp;</p>
<p class="row">
  <ng-container *ngFor="let theater of theaters | sort:'name'">
    <ng-container *ngFor="let cinema of theater.cinemas | sort:'name'">
      <ng-container *ngIf="cinema.schedules?.length > 0 && theater.status == true">
        <p class="col-md-4">
          <mat-card>
            <mat-card-content>
              <div>{{ movie.title }} ({{ movie.grade }})</div>
              <img [src]="movie.image" alt="..." class="img-thumbnail img-fluid rounded" width="250" />
              <div>{{ theater.name }} - {{ cinema.name }}</div>
              <div>{{ cinema?.schedules[0].price | currency: 'Php ' }}</div>
              <ng-container *ngFor="let sched of cinema.schedules | sort:'date'; let i = index">
                <ng-container *ngIf="sched.status">
                  <a [routerLink]="['/buy/ticket', sched.id]">{{ sched.time.start }}</a>
                  <span *ngIf="(cinema.schedules.length - 1) != i"> | </span>
                </ng-container>
              </ng-container>
            </mat-card-content>
          </mat-card>
        </p>
      </ng-container>
    </ng-container>
  </ng-container>
</p>