<section class="mat-typography">
    <h1>{{ title }}</h1>
</section>

<mat-card>
    <mat-card-content>
        <p><mat-form-field class="control-display-block">
            <input type="text" matInput [formControl]="form.controls['name']" placeholder="Name" />
            <mat-error *ngIf="form.controls['name'].hasError('required')">
                This field is required!
            </mat-error>
        </mat-form-field></p>
        <p *ngIf="!this.id">
            <mat-form-field>
                <mat-select [formControl]="form.controls['row']" placeholder="Rows">
                    <mat-option *ngFor="let row of [5,10,15,20,25]" [value]="row">{{ row }}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['row'].hasError('min')">
                    This field is required!
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select [formControl]="form.controls['column']" placeholder="Columns">
                    <mat-option *ngFor="let column of [5,10,15,20,25]" [value]="column">{{ column }}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['column'].hasError('min')">
                    This field is required!
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-select [formControl]="form.controls['status']" placeholder="Status">
                    <mat-option [value]="true">Active</mat-option>
                    <mat-option [value]="false">Inactive</mat-option>
                </mat-select>
            </mat-form-field>
        </p>

        <p class="action-buttons">
            <button mat-raised-button (click)="cancel()">Cancel</button>
            <button mat-raised-button (click)="save()" [disabled]="form.untouched || form.invalid" color="primary">Save</button>
        </p>
    </mat-card-content>
</mat-card>